<div class="row ml-0 mr-0">
  <div class="col-12 pb-4">
    <ng-container *ngIf="loaded">
      <mat-card class="mb-2 mt-2 pb-0 pt-1">
          <div class="d-flex justify-content-start align-items-center">
            <mat-card-title>Select a product</mat-card-title>
            <mat-form-field color="warn" class="ml-2">
              <mat-select [(value)]="selectedProduct" (selectionChange)="productSelectionChanged()">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let p of productList" [value]="p.id">{{p.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
      </mat-card>
      <mat-card class="mb-2 mt-2">
        <mat-card-title>
          <div class="d-flex justify-content-between align-items-center">
            <div>Categories</div>
            <div class="d-flex align-items-center">
              <span class="mr-1" style="font-size: 16px;">Add Category</span>
              <i class="material-icons product-add-icon" (click)="openAddEditCategoryModal()">
                add_circle
              </i>
            </div>
          </div>
        </mat-card-title>
      </mat-card>
      <div *ngIf="categories.length" class="overflow-x">
        <table mat-table [dataSource]="categories" class="mat-elevation-z8 product-table">

          <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->
          <!-- Position Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> No.</th>
            <td mat-cell *matCellDef="let element; index as i"> {{(i + 1)}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Product Name</th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Status</th>
            <td mat-cell *matCellDef="let element"> {{element.status === '1' ? 'Activated' : 'InActive'}} </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="image">
            <th mat-header-cell *matHeaderCellDef>Image</th>
            <td mat-cell *matCellDef="let element">
              <img class="product-image" [src]="imageUrl + element.image"/>
            </td>
          </ng-container>

          <ng-container matColumnDef="datetime">
            <th mat-header-cell *matHeaderCellDef>Date</th>
            <td mat-cell *matCellDef="let element"> {{element.datetime | date: 'mediumDate'}} </td>
          </ng-container>
          <ng-container matColumnDef="Actions">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let element;index as i">
              <i class="material-icons" style="color: #F44336; cursor: pointer"
                 (click)="openAddEditProductModal(element)">
                edit
              </i>
              <mat-slide-toggle class="ml-2" color="warn" [checked]="element.status === '1'" (change)="changeCategoryStatus(i)">
                {{element.status === '1' ? 'De-activate' : 'Activate'}}</mat-slide-toggle>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
      <ng-container *ngIf="loaded && !categories.length">
        <p class="no-records-found">No Records Found</p>
      </ng-container>
    </ng-container>

    <div *ngIf="!loaded" class="progress-spinner">
      <mat-progress-spinner
        [color]="'warn'"
        [mode]="'indeterminate'">
      </mat-progress-spinner>
    </div>
  </div>
</div>
