
<mat-dialog-content class="mat-typography" style="overflow-y: hidden;">

  <h3>Add Slider</h3>
    <div *ngIf="imageFileName">
      <img [src]="imageUrl + imageFileName" style="height: 50px; width: auto; object-fit: contain" />
      <i class="material-icons fa-lg" style="color: red;" (click)="deleteImage()">
        delete
      </i>
    </div>
    <button *ngIf="!imageFileName" mat-raised-button
            color="accent" (click)="file.click()">Upload File</button>
    <input hidden #file type="file" accept="image/jpeg, image/png" (change)="uploadImage($event)">
  <div *ngIf="isImageUploading" class="progress-spinner">
    <mat-progress-spinner
      [color]="'warn'"
      [mode]="'indeterminate'">
    </mat-progress-spinner>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button color="warn" mat-dialog-close>Cancel</button>
  <button mat-raised-button cdkFocusInitial color="warn" (click)="addSlider()">Save</button>
</mat-dialog-actions>
