.dashboard-slider {
  img {
    width: 260px;
    height: 170px;
    object-fit: fill;
    margin: 0 5px;
    position: relative;
  }

  .slider-delete {
    color: red;
    display: none;
    cursor: pointer;
    position: absolute;
    top: calc(50% - 12px);
    right: 0;
    animation: showDelete 0.5s linear;
  }
}

@keyframes showDelete {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

.progress-spinner {
  height: calc(100vh - 64px);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
