@import "../../../../../theme/variables";

.overflow-x {
  overflow-x: auto;
  overflow-y: hidden;
}

.product-table {
  width: 100%;
  min-width: 600px;

  th {
    font-weight: 600;
    font-size: 15px;
    text-align: center;
    background-color: $primary-orange;
    color: white;
  }

  td {
    text-align: center;
    color: $primary-orange !important;
  }

  tr {
    //border: 1px solid #f44336;
  }

  tr:last-child {
    border-bottom: 4px solid $primary-orange;
    td {
      //border-bottom: 4px solid $primary-orange;
    }
  }

  .product-image {
    height: 60px;
    width: 60px;
    object-fit: contain;
  }
}

.progress-spinner {
  height: calc(100vh - 64px);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.product-add-icon {
  color: $primary-orange;
  font-size: 32px;
}

.product-add-icon:hover {
  cursor: pointer;
}

.no-records-found {
  text-align: center;
  font-weight: 500;
}

#text {
  p {
    font-weight: 600;
  }
}
