
<mat-dialog-content class="mat-typography" style="overflow-y: hidden;">

  <h3>{{data.data ? 'Edit' : 'Add'}} Notification</h3>
  <form *ngIf="!isImageUploading" style="display: flex; flex-direction: column" [formGroup]="addEditNotificationForm">
    <mat-form-field color="warn">
      <input matInput placeholder="Name" formControlName="title">
      <mat-error *ngIf="addEditNotificationForm.controls['title'].touched
       && addEditNotificationForm.controls['title'].invalid">
        Please enter <strong>name</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field color="warn">
      <input matInput (focus)="picker.open()" [min]="minDate" [matDatepicker]="picker" formControlName="validTill"
       placeholder="Choose a date" [attr.format]="'dd-mm-yyyy'">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field color="warn">
      <textarea matInput placeholder="Description" rows="4" formControlName="description"></textarea>
    </mat-form-field>
    <button *ngIf="!addEditNotificationForm.controls['image'].value" mat-raised-button
            color="accent" (click)="file.click()">Upload File</button>
    <input hidden #file type="file" accept="image/jpeg, image/png" (change)="uploadImage($event)">
  </form>
  <div *ngIf="addEditNotificationForm.controls['image'].value" style="">
    <img [src]="imageUrl + addEditNotificationForm.controls['image'].value" style="height: 50px; width: auto; object-fit: contain" />
    <i class="material-icons fa-lg" style="color: red;" (click)="deleteImage()">
      delete
    </i>
  </div>
  <div *ngIf="isImageUploading" class="progress-spinner">
    <mat-progress-spinner
      [color]="'warn'"
      [mode]="'indeterminate'">
    </mat-progress-spinner>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button color="warn" mat-dialog-close>Cancel</button>
  <button mat-raised-button cdkFocusInitial color="warn" (click)="addEditNotification()">Save</button>
</mat-dialog-actions>
