<div class="login-div d-flex justify-content-center align-items-center min-vh-100">
  <mat-card class="login-card">
    <mat-card-title class="text-center">Login</mat-card-title>
    <mat-card-content class="d-flex justify-content-center align-items-center">
      <form *ngIf="loginForm" [formGroup]="loginForm">
        <mat-form-field class="w-100">
          <input matInput type="number" placeholder="Email" formControlName="phone" (keypress)="restrictInput($event)">
          <mat-error *ngIf="loginForm.controls['phone'].touched && !loginForm.controls['phone'].value.length && loginForm.controls['phone'].invalid">
            Please enter a valid phone number
          </mat-error>
          <mat-error *ngIf="loginForm.controls['phone'].touched && loginForm.controls['phone'].value.length && loginForm.controls['phone'].invalid">
            phone is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="w-100">
          <input type="password" matInput placeholder="Password" formControlName="password">
          <mat-error *ngIf="loginForm.controls['password'].touched && loginForm.controls['password'].invalid">
            Please enter a <strong>Password</strong>
          </mat-error>
        </mat-form-field>
        <button mat-raised-button color="warn" class="login-btn" (click)="doLogin()">Login</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
