
<mat-dialog-content class="mat-typography" style="overflow-y: hidden;">

  <h3>Add Cancellation Reason</h3>

    <form *ngIf="cancelReasonForm" [formGroup]="cancelReasonForm">
      <mat-form-field color="warn" class="w-100">
        <mat-label>Reason</mat-label>
        <input matInput placeholder="Reason for Cancellation" formControlName="name" />
        <mat-error *ngIf="cancelReasonForm.controls['name'].touched && cancelReasonForm.controls['name'].invalid">
          Please enter <strong>Cancel Reason</strong>
        </mat-error>
      </mat-form-field>
    </form>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button color="warn" mat-dialog-close>Cancel</button>
  <button mat-raised-button cdkFocusInitial color="warn" (click)="addReason()">Save</button>
</mat-dialog-actions>
