
  <mat-dialog-content class="mat-typography" style="overflow-y: hidden;">

        <h3 class="orange-text">Change Password</h3>
        <form *ngIf="!isLoading" style="display: flex; flex-direction: column" [formGroup]="changeForm">
          <mat-form-field color="warn">
            <input type="number" matInput placeholder="Phone" formControlName="phone" (keypress)="restrictInput($event)">
            <mat-error *ngIf="changeForm.controls['phone'].touched && changeForm.controls['phone'].invalid">
              Please enter <strong>Phone</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field color="warn">
                <input type="password" matInput placeholder="New Password" formControlName="password">
                <mat-error *ngIf="changeForm.controls['password'].touched && changeForm.controls['password'].invalid">
                  Please enter <strong>new Password</strong>
                </mat-error>
              </mat-form-field>
        </form>
        <div *ngIf="isLoading" class="progress-spinner">
          <mat-progress-spinner
            [color]="'warn'"
            [mode]="'indeterminate'">
          </mat-progress-spinner>
        </div>
      </mat-dialog-content>
      <mat-dialog-actions align="end">
        <button mat-button color="warn" mat-dialog-close>Cancel</button>
        <button mat-raised-button cdkFocusInitial color="warn" (click)="changePassword()">Save</button>
      </mat-dialog-actions>
    