<div class="wrapper">
  <div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
    <mat-toolbar color="warn" class="example-toolbar">
      <button mat-icon-button (click)="snav.toggle()">
        <i class="material-icons">menu</i>
      </button>
      <h1 class="example-app-name">Glossary App</h1>
    </mat-toolbar>

    <mat-sidenav-container class="sidenav-container"
                           [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
      <mat-sidenav class="side-nav" #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                   [fixedInViewport]="mobileQuery.matches" fixedTopGap="56" [opened]="true">
        <mat-nav-list class="menu-list">
          <a mat-list-item [routerLink]="['reports']" [routerLinkActive]="'active-menu-item'">Reports</a>
          <a mat-list-item (click)="openActivities()">One Time Activity</a>
          <ul [@slideInOut]="showMenu" class="menu-nested-list">
            <li>
              <a mat-list-item [routerLink]="['products']" [routerLinkActive]="'active-menu-item'">Products</a>
            </li>
            <li>
              <a mat-list-item [routerLink]="['categories']" [routerLinkActive]="'active-menu-item'">Categories</a>
            </li>
          </ul>
          <a mat-list-item [routerLink]="['daily-activity']" [routerLinkActive]="'active-menu-item'">Daily Activity</a>
        </mat-nav-list>
      </mat-sidenav>

      <mat-sidenav-content class="router-container">
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</div>
