<div class="wrapper">
  <div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
    <mat-toolbar color="warn" class="example-toolbar">
      <div class="d-flex justify-content-between w-100">
        <div class="d-flex align-items-center">
          <button mat-icon-button (click)="snav.toggle()">
            <i class="material-icons">menu</i>
          </button>
          <h1 class="example-app-name">Glossary App</h1>
        </div>
        <div class="d-flex">
          <button mat-button [matMenuTriggerFor]="menu">Admin</button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="doLogout()">Logout</button>
          </mat-menu>
        </div>
      </div>
    </mat-toolbar>

    <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
      <mat-sidenav class="side-nav" #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                   [fixedInViewport]="mobileQuery.matches"
                   fixedTopGap="56" [opened]="true">
        <mat-nav-list class="menu-list">
          <a mat-list-item [routerLink]="['reports']" [routerLinkActive]="'active-menu-item'">Reports</a>
          <a mat-list-item (click)="openActivities()">
            <div class="d-flex justify-content-between align-items-center w-100">
              <div>One Time Activity</div>
              <div>
                <i class="material-icons menu-arrow" [ngClass]="showMenu === 'in' ? 'arrow-rotate-down' : ''">
                  arrow_back_ios
                </i>
              </div>
            </div>
          </a>
          <ul [@slideInOut]="showMenu" class="menu-nested-list">
            <li>
              <a mat-list-item [routerLink]="['products']" [routerLinkActive]="'active-menu-item'">Products</a>
            </li>
            <li>
              <a mat-list-item [routerLink]="['categories']" [routerLinkActive]="'active-menu-item'">Categories</a>
            </li>
            <li>
              <a mat-list-item [routerLink]="['slider']" [routerLinkActive]="'active-menu-item'">Dashboard Slider</a>
            </li>
            <li>
              <a mat-list-item [routerLink]="['address']" [routerLinkActive]="'active-menu-item'">Addresses</a>
            </li>
            <li>
              <a mat-list-item [routerLink]="['notifications']" [routerLinkActive]="'active-menu-item'">Notifications</a>
            </li>
            <li>
              <a mat-list-item [routerLink]="['units']" [routerLinkActive]="'active-menu-item'">Units</a>
            </li>
          </ul>
          <a mat-list-item (click)="openDailyActivities()">
            <div class="d-flex justify-content-between align-items-center w-100">
              <div>Daily Activity</div>
              <div>
                <i class="material-icons menu-arrow" [ngClass]="showDailyActivity === 'in' ? 'arrow-rotate-down' : ''">
                  arrow_back_ios
                </i>
              </div>
            </div>
          </a>
          <a mat-list-item [routerLink]="['users']" [routerLinkActive]="'active-menu-item'">Users</a>
          <ul [@slideInOut]="showDailyActivity" class="menu-nested-list">
            <!-- <li>
              <a mat-list-item [routerLink]="['slider']" [routerLinkActive]="'active-menu-item'">Dashboard Slider</a>
            </li> -->
          </ul>
        </mat-nav-list>
      </mat-sidenav>

      <mat-sidenav-content class="router-container">
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</div>
