@import "../../styles";

.side-nav {
  width: 250px;
  box-shadow: 1px 0 3px 1px rgba(0,0,0,0.1);
  overflow-x: hidden;
}

.router-container {
  height: calc(100vh - 64px);
  padding: 20px 10px 10px 10px;
  overflow-x: hidden;
}

.menu-list {
  padding-top: 0;
}

.menu-list a:hover {
  background-color: aliceblue;
  color: $primary-orange;
}
.active-menu-item {
  background-color: $primary-orange !important;
  color: white !important;
}

.active-menu-item:hover {
  color: aliceblue !important;
  background-color: $primary-orange !important;
}

button {
  outline: none !important;
}

.menu-nested-list {
  padding: 0;
  margin: 0;
  overflow-x: hidden;

  li {
    list-style-type: none;
    a {
      transition: all 0.2s ease-in;
      background-color: #fafafa;
      color: black;
    }

    a:hover {
      background-color: aliceblue;
      color: $primary-orange;
    }
  }
}
