.login-card {
  max-width: 500px;
  width: 100%;
  height: fit-content;
}

.login-btn {
  margin: 0 auto;
  display: block;
  outline: none !important;
}

button {
  outline: none !important;
}

.signup-btn {
  margin-top: 1.5rem;
  color: #673AB7;
  float: right;
}
