/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

$primary-orange: #F44336;

.w-100 {
  width: 100%;
}

.text-center {
  text-align: center;
}

.orange-text {
  color: $primary-orange;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
  -moz-appearance:textfield; /* Firefox */
}

.mat-drawer-inner-container {
  overflow-x: hidden !important;
}

button {
  outline: none !important;
}

.owl-theme .owl-nav {
  display: none;
}

.owl-theme .owl-dots {
  margin-top: 5px;
}

.owl-carousel.owl-drag .owl-item {
  max-width: 270px;
}

.owl-carousel.owl-drag .owl-item:hover {
  .slider-delete {
    display: flex;
  }
}

.mat-tab-label {
  font-size: 16px;
}

.mat-tab-label-active {
  color: #F44336;
  font-weight: 600;
}

.breadcrumb {
  background-color: transparent;
  padding: 0;
  margin-bottom: 0;
  margin-top: 5px;

  .breadcrumb-item {
    color: black;
    outline: none !important;
    transition: all 0.2s ease-in;
  }

  .breadcrumb-item:hover {
    color: #F44336;
    cursor: pointer;
  }

  .breadcrumb-item:hover.b-active {
    color: black;
  }
}
