<mat-tab-group color="warn" (selectedTabChange)="tabChangeEvent($event)">
  <mat-tab label="Wallet Details">
    <div class="row ml-0 mr-0 mh-200p">
      <div class="col-12">
        <div *ngIf="!loaded" class="progress-spinner">
          <mat-progress-spinner
            [color]="'warn'"
            [mode]="'indeterminate'">
          </mat-progress-spinner>
        </div>
        <div *ngIf="loaded">
          <div class="row m-2">
            <div *ngIf="!isEditBalance" class="col-12 p-2 d-flex flex-column">
              <mat-form-field color="warn">
                <input type="text" matInput placeholder="Wallet balance" disabled=true
                       [(ngModel)]="walletDetails.currentbalance" (keypress)="restrictInputNumbers($event)">
              </mat-form-field>
            </div>
            <div class="col-12">
              <button mat-raised-button color="warn" (click)="editWalletBalance()">Edit Balance</button>
            </div>
            <div *ngIf="isEditBalance" class="col-12 p-2 d-flex flex-column">
              <mat-form-field color="warn">
                <input type="number" matInput placeholder="Wallet balance"
                       [(ngModel)]="editBalance.amount" (keypress)="restrictInputNumbers($event)">
              </mat-form-field>
              <mat-form-field color="warn">
                <input type="text" matInput placeholder="Reason"
                       [(ngModel)]="editBalance.reason">
              </mat-form-field>
              <mat-form-field color="warn">
                <mat-label>Operation</mat-label>
                <mat-select [(ngModel)]="editBalance.operation">
                  <mat-option [value]="'add'">
                    add
                  </mat-option>
                  <mat-option [value]="'deduct'">
                    deduct
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <button mat-raised-button color="warn" (click)="editUserWallet()">Save</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Wallet History">
    <div class="row ml-0 mr-0 mh-200p">
      <div class="col-12">
        <div *ngIf="!loaded" class="progress-spinner">
          <mat-progress-spinner
            [color]="'warn'"
            [mode]="'indeterminate'">
          </mat-progress-spinner>
        </div>
        <div *ngIf="loaded">
          <div *ngIf="loaded" class="p-2">
            <div *ngIf="transactionHistory.length" class="overflow-x">
              <table mat-table [dataSource]="transactionHistory" class="mat-elevation-z8 users-table">

                <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->
                <!-- Position Column -->
                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef>#</th>
                  <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>

                <ng-container matColumnDef="balance">
                  <th mat-header-cell *matHeaderCellDef>Balance After Transaction</th>
                  <td mat-cell *matCellDef="let element"> {{element.currentBal}} </td>
                </ng-container>

                <ng-container matColumnDef="itemName">
                  <th mat-header-cell *matHeaderCellDef>Product Name</th>
                  <td mat-cell *matCellDef="let element"> {{element.productName ? element.productName : '-'}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="remark">
                  <th mat-header-cell *matHeaderCellDef>Remark</th>
                  <td mat-cell *matCellDef="let element"> {{element.remark}} </td>
                </ng-container>

                <ng-container matColumnDef="datetime">
                  <th mat-header-cell *matHeaderCellDef>Order Date</th>
                  <td mat-cell *matCellDef="let element"> {{element.datetime | date: 'longDate'}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="walletDisplayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: walletDisplayedColumns;"></tr>
              </table>
              <div *ngIf="loaded && transactionHistory.length" class="row ml-0 mr-0 pt-2 d-flex justify-content-end">
                <div class="d-flex flex-row align-items-center">
                  <div class="prev_btn" (click)="prevPage()">
                    <i class="material-icons">
                      skip_previous
                    </i>
                  </div>
                  <div class="paginate_button">{{currentPage}}</div>
                  <div class="next_btn" (click)="nextPage()">
                    <i class="material-icons">
                      skip_next
                    </i>
                  </div>
                </div>
              </div>
            </div>
            <ng-container *ngIf="loaded && !transactionHistory.length">
              <p class="no-records-found">No Records Found</p>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Orders">
    <div class="row ml-0 mr-0 mh-200p">
      <div class="col-12">
        <div *ngIf="!loaded" class="progress-spinner">
          <mat-progress-spinner
            [color]="'warn'"
            [mode]="'indeterminate'">
          </mat-progress-spinner>
        </div>
        <div *ngIf="loaded" class="p-2">
          <div *ngIf="orderList.length" class="overflow-x">
            <table mat-table [dataSource]="orderList" class="mat-elevation-z8 orders-table">

              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef>Order No.</th>
                <td mat-cell *matCellDef="let element; index as i"> {{element.masterOrderId}} </td>
              </ng-container>

              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Name</th>
                <td mat-cell *matCellDef="let element"> {{element.userName}} </td>
              </ng-container>

              <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef>Status</th>
                <td mat-cell *matCellDef="let element"> {{element.orderStatus | titlecase}} </td>
              </ng-container>

              <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef>Order Price</th>
                <td mat-cell *matCellDef="let element"> {{element.totalPrice}} </td>
              </ng-container>

              <ng-container matColumnDef="datetime">
                <th mat-header-cell *matHeaderCellDef>Order Date</th>
                <td mat-cell *matCellDef="let element"> {{element.datetime | date: 'longDate'}} </td>
              </ng-container>

              <ng-container matColumnDef="deliverDate">
                <th mat-header-cell *matHeaderCellDef>Delivery Date</th>
                <td mat-cell *matCellDef="let element"> {{element.deliveryDate | date: 'longDate'}} </td>
              </ng-container>

              <ng-container matColumnDef="addr">
                <th mat-header-cell *matHeaderCellDef>Delivery Address</th>
                <td mat-cell *matCellDef="let element"> {{element.deliveryAddress}} </td>
              </ng-container>

              <ng-container matColumnDef="paymode">
                <th mat-header-cell *matHeaderCellDef>Payment Mode</th>
                <td mat-cell *matCellDef="let element"> {{element.payMode | titlecase}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="orderDisplayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: orderDisplayedColumns;" (click)="goToOrderDetails(row)"></tr>
            </table>
            <div *ngIf="loaded && orderList.length" class="row ml-0 mr-0 pt-2 d-flex justify-content-end">
              <div class="d-flex flex-row align-items-center">
                <div class="prev_btn" (click)="prevPage()">
                  <i class="material-icons">
                    skip_previous
                  </i>
                </div>
                <div class="paginate_button">{{currentPage}}</div>
                <div class="next_btn" (click)="nextPage()">
                  <i class="material-icons">
                    skip_next
                  </i>
                </div>
              </div>
            </div>
          </div>
          <ng-container *ngIf="loaded && !orderList.length">
            <p class="no-records-found">No Records Found</p>
          </ng-container>
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Cart">
    <div class="row ml-0 mr-0 mh-200p">
      <div class="col-12">
        <div *ngIf="!loaded" class="progress-spinner">
          <mat-progress-spinner
            [color]="'warn'"
            [mode]="'indeterminate'">
          </mat-progress-spinner>
        </div>
        <div *ngIf="loaded" class="p-2">
          <div *ngIf="cartData.length" class="overflow-x">
            <table mat-table [dataSource]="cartData" class="mat-elevation-z8 users-table">

              <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->
              <!-- Position Column -->
              <ng-container matColumnDef="itemName">
                <th mat-header-cell *matHeaderCellDef>Item Name</th>
                <td mat-cell *matCellDef="let element"> {{element.subCatName}} </td>
              </ng-container>

              <ng-container matColumnDef="unit">
                <th mat-header-cell *matHeaderCellDef>Unit</th>
                <td mat-cell *matCellDef="let element"> {{element.cartQuantity + element.UnitName}} </td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="quantity">
                <th mat-header-cell *matHeaderCellDef>Quantity</th>
                <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
              </ng-container>

              <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef>Status</th>
                <td mat-cell *matCellDef="let element"> {{element.orderStatus}} </td>
              </ng-container>

              <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef>Order Price</th>
                <td mat-cell *matCellDef="let element"> {{element.price}} </td>
              </ng-container>

              <ng-container matColumnDef="datetime">
                <th mat-header-cell *matHeaderCellDef>Order Date</th>
                <td mat-cell *matCellDef="let element"> {{element.datetime | date: 'longDate'}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="cartDisplayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: cartDisplayedColumns;"></tr>
            </table>
            <div *ngIf="loaded && cartData.length" class="row ml-0 mr-0 pt-2 d-flex justify-content-end">
              <div class="d-flex flex-row align-items-center">
                <div class="prev_btn" (click)="prevPage()">
                  <i class="material-icons">
                    skip_previous
                  </i>
                </div>
                <div class="paginate_button">{{currentPage}}</div>
                <div class="next_btn" (click)="nextPage()">
                  <i class="material-icons">
                    skip_next
                  </i>
                </div>
              </div>
            </div>
          </div>
          <ng-container *ngIf="loaded && !cartData.length">
            <p class="no-records-found">No Records Found</p>
          </ng-container>
        </div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
