@import "../../../../theme/variables";

.progress-spinner {
  height: calc(100vh - 64px);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}


.overflow-x {
  overflow-x: auto;
  overflow-y: hidden;
}

.users-table {
  width: 100%;
  min-width: 700px;

  th {
    font-weight: 600;
    font-size: 15px;
    text-align: center;
  }

  td {
    padding: 5px;
    text-align: center;
  }

  .product-image {
    height: 60px;
    width: 60px;
    object-fit: contain;
  }
}

.orders-table {
  width: 100%;
  min-width: 700px;

  th {
    font-weight: 600;
    font-size: 15px;
    text-align: center;
  }

  td {
    padding: 5px;
    text-align: center;
  }

  tr:hover {
    background-color: #ddd;
    cursor: pointer;
  }

  .product-image {
    height: 60px;
    width: 60px;
    object-fit: contain;
  }
}

.progress-spinner {
  height: calc(100vh - 64px);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.product-add-icon {
  color: $primary-orange;
  font-size: 32px;
}

.product-add-icon:hover {
  cursor: pointer;
}

.no-records-found {
  text-align: center;
  font-weight: 500;
}
