
<mat-dialog-content class="mat-typography" style="overflow-y: hidden;">

  <h3>{{data.data.data ? 'Edit' : 'Add'}} Sub Category Details</h3>
  <form *ngIf="detailForm" style="display: flex; flex-direction: column" [formGroup]="detailForm">
    <mat-form-field color="warn">
      <input matInput placeholder="Quantity" formControlName="quantity">
      <mat-error *ngIf="detailForm.controls['quantity'].touched && detailForm.controls['quantity'].invalid">
        Please enter <strong>Unit</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field color="warn">
      <mat-label>Unit Name</mat-label>
      <mat-select formControlName="unit">
        <mat-option *ngFor="let u of units" [value]="u.id">
          {{u.unitName}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="detailForm.controls['unit'].touched && detailForm.controls['unit'].invalid">
        Please enter <strong>Unit</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field color="warn">
      <input matInput placeholder="Purchase Price" formControlName="purchasePrice">
      <mat-error *ngIf="detailForm.controls['purchasePrice'].touched && detailForm.controls['purchasePrice'].invalid">
        Please enter <strong>Discount Price</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field color="warn">
      <input matInput placeholder="Margin" formControlName="margin">
      <mat-error *ngIf="detailForm.controls['margin'].touched && detailForm.controls['margin'].invalid">
        Please enter <strong>Discount Price</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field color="warn">
      <input matInput placeholder="Price" formControlName="price">
      <mat-error *ngIf="detailForm.controls['price'].touched && detailForm.controls['price'].invalid">
        Please enter <strong>Price</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field color="warn">
      <input matInput placeholder="Stock" formControlName="stock">
      <mat-error *ngIf="detailForm.controls['stock'].touched && detailForm.controls['stock'].invalid">
        Please enter <strong>Stock</strong>
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button color="warn" mat-dialog-close>Cancel</button>
  <button mat-raised-button cdkFocusInitial color="warn" (click)="addEditSubCateDetails()">Save</button>
</mat-dialog-actions>
